<a href="https://colab.research.google.com/github/fab-rodrigs/analise-pandas-sunspec/blob/main/analise_sunspec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importando tabela:

In [ ]:
import pandas as pd
import numpy as np

dados = pd.read_csv("SunSpec_Information_Model_Reference_20211209.csv")
display(dados)

,Address Offset,Group Offset,Name,Value,Count,Type,Size,Scale Factor,Units,RW Access (RW),Mandatory (M),Static (S),Label,Description
0,NaN,NaN,inverter,NaN,NaN,group,NaN,NaN,NaN,NaN,NaN,NaN,Inverter (Single Phase),Include this model for single phase inverter m...
1,0.0,NaN,ID,101.0,NaN,uint16,NaN,NaN,NaN,NaN,M,S,Model ID,Model identifier
2,1.0,NaN,L,NaN,NaN,uint16,NaN,NaN,NaN,NaN,M,S,Model Length,Model length
3,2.0,NaN,A,NaN,NaN,uint16,NaN,A_SF,A,NaN,M,NaN,Amps,AC Current
4,3.0,NaN,AphA,NaN,NaN,uint16,NaN,A_SF,A,NaN,M,NaN,Amps PhaseA,Phase A Current
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,42.0,NaN,Evt2,NaN,NaN,bitfield32,NaN,NaN,NaN,NaN,M,NaN,Event Bitfield 2,Reserved for future use
66,44.0,NaN,EvtVnd1,NaN,NaN,bitfield32,NaN,NaN,NaN,NaN,NaN,NaN,Vendor Event Bitfield 1,Vendor defined events
67,46.0,NaN,EvtVnd2,NaN,NaN,bitfield32,NaN,NaN,NaN,NaN,NaN,NaN,Vendor Event Bitfield 2,Vendor defined events
68,48.0,NaN,EvtVnd3,NaN,NaN,bitfield32,NaN,NaN,NaN,NaN,NaN,NaN,Vendor Event Bitfield 3,Vendor defined events
69,50.0,NaN,EvtVnd4,NaN,NaN,bitfield32,NaN,NaN,NaN,NaN,NaN,NaN,Vendor Event Bitfield 4,Vendor defined events

In [ ]:
valores = pd.read_csv("Values.csv")
display(valores)

    Values
0        4
1        2
2        4
3        5
4        6
..     ...
65       5
66       2
67       5
68       4
69       2

[70 rows x 1 columns]

In [ ]:
df = dados.assign(Values = valores)
display(df)

,Address Offset,Group Offset,Name,Value,Count,Type,Size,Scale Factor,Units,RW Access (RW),Mandatory (M),Static (S),Label,Description,Values
0,NaN,NaN,inverter,NaN,NaN,group,NaN,NaN,NaN,NaN,NaN,NaN,Inverter (Single Phase),Include this model for single phase inverter m...,4
1,0.0,NaN,ID,101.0,NaN,uint16,NaN,NaN,NaN,NaN,M,S,Model ID,Model identifier,2
2,1.0,NaN,L,NaN,NaN,uint16,NaN,NaN,NaN,NaN,M,S,Model Length,Model length,4
3,2.0,NaN,A,NaN,NaN,uint16,NaN,A_SF,A,NaN,M,NaN,Amps,AC Current,5
4,3.0,NaN,AphA,NaN,NaN,uint16,NaN,A_SF,A,NaN,M,NaN,Amps PhaseA,Phase A Current,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,42.0,NaN,Evt2,NaN,NaN,bitfield32,NaN,NaN,NaN,NaN,M,NaN,Event Bitfield 2,Reserved for future use,5
66,44.0,NaN,EvtVnd1,NaN,NaN,bitfield32,NaN,NaN,NaN,NaN,NaN,NaN,Vendor Event Bitfield 1,Vendor defined events,2
67,46.0,NaN,EvtVnd2,NaN,NaN,bitfield32,NaN,NaN,NaN,NaN,NaN,NaN,Vendor Event Bitfield 2,Vendor defined events,5
68,48.0,NaN,EvtVnd3,NaN,NaN,bitfield32,NaN,NaN,NaN,NaN,NaN,NaN,Vendor Event Bitfield 3,Vendor defined events,4
69,50.0,NaN,EvtVnd4,NaN,NaN,bitfield32,NaN,NaN,NaN,NaN,NaN,NaN,Vendor Event Bitfield 4,Vendor defined events,2

In [ ]:
linha1 = df.iloc[1]

print(linha1)

Address Offset                 0.0
Group Offset                   NaN
Name                            ID
Value                        101.0
Count                          NaN
Type                        uint16
Size                           NaN
Scale Factor                   NaN
Units                          NaN
RW Access (RW)                 NaN
Mandatory (M)                    M
Static (S)                       S
Label                     Model ID
Description       Model identifier
Values                           2
Name: 1, dtype: object

In [ ]:
tabela = df[['Name','Type','Scale Factor','Values']]
tabela = tabela.head(38)
display(tabela)

        Name    Type Scale Factor  Values
0   inverter   group          NaN       4
1         ID  uint16          NaN       2
2          L  uint16          NaN       4
3          A  uint16         A_SF       5
4       AphA  uint16         A_SF       6
5       AphB  uint16         A_SF       7
6       AphC  uint16         A_SF       4
7       A_SF  sunssf          NaN      -2
8    PPVphAB  uint16         V_SF       4
9    PPVphBC  uint16         V_SF       6
10   PPVphCA  uint16         V_SF       3
11    PhVphA  uint16         V_SF       7
12    PhVphB  uint16         V_SF       4
13    PhVphC  uint16         V_SF       6
14      V_SF  sunssf          NaN      -1
15         W   int16         W_SF       4
16      W_SF  sunssf          NaN      -2
17        Hz  uint16        Hz_SF       4
18     Hz_SF  sunssf          NaN       1
19        VA   int16        VA_SF       5
20     VA_SF  sunssf          NaN       0
21       VAr   int16       VAr_SF       6
22    VAr_SF  sunssf          NaN       1
23        PF   int16        PF_SF       5
24     PF_SF  sunssf          NaN       6
25        WH   acc32        WH_SF       7
26     WH_SF  sunssf          NaN       3
27       DCA  uint16       DCA_SF       2
28    DCA_SF  sunssf          NaN       4
29       DCV  uint16       DCV_SF       4
30    DCV_SF  sunssf          NaN       4
31       DCW   int16       DCW_SF       6
32    DCW_SF  sunssf          NaN       7
33    TmpCab   int16       Tmp_SF       9
34    TmpSnk   int16       Tmp_SF       5
35   TmpTrns   int16       Tmp_SF       8
36     TmpOt   int16       Tmp_SF       5
37    Tmp_SF  sunssf          NaN       4

Ler nome e posição do valor:

In [ ]:
nomes = tabela[['Name']]
print(nomes)

        Name
0   inverter
1         ID
2          L
3          A
4       AphA
5       AphB
6       AphC
7       A_SF
8    PPVphAB
9    PPVphBC
10   PPVphCA
11    PhVphA
12    PhVphB
13    PhVphC
14      V_SF
15         W
16      W_SF
17        Hz
18     Hz_SF
19        VA
20     VA_SF
21       VAr
22    VAr_SF
23        PF
24     PF_SF
25        WH
26     WH_SF
27       DCA
28    DCA_SF
29       DCV
30    DCV_SF
31       DCW
32    DCW_SF
33    TmpCab
34    TmpSnk
35   TmpTrns
36     TmpOt
37    Tmp_SF

Ler tipo do valor (de acordo com a posição):

In [ ]:
tipos = tabela[['Type']]
print(tipos)

#for i in tabela:
#  print(i)

      Type
0    group
1   uint16
2   uint16
3   uint16
4   uint16
5   uint16
6   uint16
7   sunssf
8   uint16
9   uint16
10  uint16
11  uint16
12  uint16
13  uint16
14  sunssf
15   int16
16  sunssf
17  uint16
18  sunssf
19   int16
20  sunssf
21   int16
22  sunssf
23   int16
24  sunssf
25   acc32
26  sunssf
27  uint16
28  sunssf
29  uint16
30  sunssf
31   int16
32  sunssf
33   int16
34   int16
35   int16
36   int16
37  sunssf

Ler valor e armazenar na tabela:

In [ ]:
# criando coluna vazia para os valores (seria a mesma coluna dos 'Values')
tabela.loc[:, 'Valores'] = ''

# novatabela = tabela.loc[tabela['coluna'] == 'condição das linhas']
uint16 = tabela.loc[tabela['Type'] == 'uint16']
int16 = tabela.loc[(tabela['Type'] == 'int16')|(tabela['Type'] == 'sunssf')|(tabela['Type'] == 'group')]

# tabela.at[linha, coluna] = valor
tabela.at[uint16.index,'Valores'] = 'data.decode_16bit_uint()'
tabela.at[int16.index,'Valores'] = 'data.decode_16bit_int()'
tabela.at[25,'Valores'] = 'data.decode_32bit_int()'


display(tabela)

        Name    Type Scale Factor  Values                   Valores
0   inverter   group          NaN       4   data.decode_16bit_int()
1         ID  uint16          NaN       2  data.decode_16bit_uint()
2          L  uint16          NaN       4  data.decode_16bit_uint()
3          A  uint16         A_SF       5  data.decode_16bit_uint()
4       AphA  uint16         A_SF       6  data.decode_16bit_uint()
5       AphB  uint16         A_SF       7  data.decode_16bit_uint()
6       AphC  uint16         A_SF       4  data.decode_16bit_uint()
7       A_SF  sunssf          NaN      -2   data.decode_16bit_int()
8    PPVphAB  uint16         V_SF       4  data.decode_16bit_uint()
9    PPVphBC  uint16         V_SF       6  data.decode_16bit_uint()
10   PPVphCA  uint16         V_SF       3  data.decode_16bit_uint()
11    PhVphA  uint16         V_SF       7  data.decode_16bit_uint()
12    PhVphB  uint16         V_SF       4  data.decode_16bit_uint()
13    PhVphC  uint16         V_SF       6  data.decode_16bit_uint()
14      V_SF  sunssf          NaN      -1   data.decode_16bit_int()
15         W   int16         W_SF       4   data.decode_16bit_int()
16      W_SF  sunssf          NaN      -2   data.decode_16bit_int()
17        Hz  uint16        Hz_SF       4  data.decode_16bit_uint()
18     Hz_SF  sunssf          NaN       1   data.decode_16bit_int()
19        VA   int16        VA_SF       5   data.decode_16bit_int()
20     VA_SF  sunssf          NaN       0   data.decode_16bit_int()
21       VAr   int16       VAr_SF       6   data.decode_16bit_int()
22    VAr_SF  sunssf          NaN       1   data.decode_16bit_int()
23        PF   int16        PF_SF       5   data.decode_16bit_int()
24     PF_SF  sunssf          NaN       6   data.decode_16bit_int()
25        WH   acc32        WH_SF       7   data.decode_32bit_int()
26     WH_SF  sunssf          NaN       3   data.decode_16bit_int()
27       DCA  uint16       DCA_SF       2  data.decode_16bit_uint()
28    DCA_SF  sunssf          NaN       4   data.decode_16bit_int()
29       DCV  uint16       DCV_SF       4  data.decode_16bit_uint()
30    DCV_SF  sunssf          NaN       4   data.decode_16bit_int()
31       DCW   int16       DCW_SF       6   data.decode_16bit_int()
32    DCW_SF  sunssf          NaN       7   data.decode_16bit_int()
33    TmpCab   int16       Tmp_SF       9   data.decode_16bit_int()
34    TmpSnk   int16       Tmp_SF       5   data.decode_16bit_int()
35   TmpTrns   int16       Tmp_SF       8   data.decode_16bit_int()
36     TmpOt   int16       Tmp_SF       5   data.decode_16bit_int()
37    Tmp_SF  sunssf          NaN       4   data.decode_16bit_int()

Eliminando linhas nulas da coluna "Scale Factor":

In [ ]:
separados = tabela.dropna()
display(separados)

       Name    Type Scale Factor  Values                   Valores
3         A  uint16         A_SF       5  data.decode_16bit_uint()
4      AphA  uint16         A_SF       6  data.decode_16bit_uint()
5      AphB  uint16         A_SF       7  data.decode_16bit_uint()
6      AphC  uint16         A_SF       4  data.decode_16bit_uint()
8   PPVphAB  uint16         V_SF       4  data.decode_16bit_uint()
9   PPVphBC  uint16         V_SF       6  data.decode_16bit_uint()
10  PPVphCA  uint16         V_SF       3  data.decode_16bit_uint()
11   PhVphA  uint16         V_SF       7  data.decode_16bit_uint()
12   PhVphB  uint16         V_SF       4  data.decode_16bit_uint()
13   PhVphC  uint16         V_SF       6  data.decode_16bit_uint()
15        W   int16         W_SF       4   data.decode_16bit_int()
17       Hz  uint16        Hz_SF       4  data.decode_16bit_uint()
19       VA   int16        VA_SF       5   data.decode_16bit_int()
21      VAr   int16       VAr_SF       6   data.decode_16bit_int()
23       PF   int16        PF_SF       5   data.decode_16bit_int()
25       WH   acc32        WH_SF       7   data.decode_32bit_int()
27      DCA  uint16       DCA_SF       2  data.decode_16bit_uint()
29      DCV  uint16       DCV_SF       4  data.decode_16bit_uint()
31      DCW   int16       DCW_SF       6   data.decode_16bit_int()
33   TmpCab   int16       Tmp_SF       9   data.decode_16bit_int()
34   TmpSnk   int16       Tmp_SF       5   data.decode_16bit_int()
35  TmpTrns   int16       Tmp_SF       8   data.decode_16bit_int()
36    TmpOt   int16       Tmp_SF       5   data.decode_16bit_int()

Lendo indíce linhas que sobraram, e o fator de escala aplicado:

In [ ]:
a = separados['Scale Factor']
indices = (list(map(int,a.index)))
print(indices)

[3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 34, 35, 36]

Buscando fator de escala na tabela geral e lendo seu respectivo valor:

In [ ]:
# tabela.at[linha, coluna] = valor
print(len(a))

23

Aplicando fator de escala nas linhas separadas a princípio:

In [ ]:
sf = tabela[tabela['Scale Factor'].isnull()]
sf = sf[3:37]
sf = sf[['Name','Values']]
sf['Values'] = 10 ** sf['Values'].astype('float')
display(sf)

serie = sf['Values']
#print(serie)

      Name       Values
7     A_SF         0.01
14    V_SF         0.10
16    W_SF         0.01
18   Hz_SF        10.00
20   VA_SF         1.00
22  VAr_SF        10.00
24   PF_SF   1000000.00
26   WH_SF      1000.00
28  DCA_SF     10000.00
30  DCV_SF     10000.00
32  DCW_SF  10000000.00
37  Tmp_SF     10000.00

In [ ]:
i = separados.index

for i in sf['Values']:
  valores_fatores = sf.loc[sf['Name'] == i,'Values']
  print(valores_fatores)

Series([], Name: Values, dtype: float64)
Series([], Name: Values, dtype: float64)
Series([], Name: Values, dtype: float64)
Series([], Name: Values, dtype: float64)
Series([], Name: Values, dtype: float64)
Series([], Name: Values, dtype: float64)
Series([], Name: Values, dtype: float64)
Series([], Name: Values, dtype: float64)
Series([], Name: Values, dtype: float64)
Series([], Name: Values, dtype: float64)
Series([], Name: Values, dtype: float64)
Series([], Name: Values, dtype: float64)

In [ ]:
 lista = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]
 lista[0] = 99
 print(lista[0])

99

In [ ]:
#df = df.replace(valor_inicial, valor_final)
#separados['Scale Factor'] = separados.replace(separados['Scale Factor'], i)
#display(separados)

In [ ]:
 # list(map(int, string_list))

sep = separados.loc[separados['Scale Factor'] == 'A_SF','Values']
valores1 = pd.array(list(map(int, sep)))

oper = valores1 * 2
print(oper)

#print(separados.loc[separados['Scale Factor'] == 'A_SF','Values'])

<IntegerArray>
[10, 12, 14, 8]
Length: 4, dtype: Int64

In [ ]:
c = separados['Scale Factor']
c = c.index
print(c)

Int64Index([ 3,  4,  5,  6,  8,  9, 10, 11, 12, 13, 15, 17, 19, 21, 23, 25, 27,
            29, 31, 33, 34, 35, 36],
           dtype='int64')

In [ ]:
old_value = separados.loc[5,'Values']

new_value = sf.loc[7,'Values'] #separados['Valores'][3] * sf['Valores'][7]

teste1 = separados.replace(old_value, 'batata')

print(teste1)

       Name    Type Scale Factor  Values                   Valores
3         A  uint16         A_SF       5  data.decode_16bit_uint()
4      AphA  uint16         A_SF       6  data.decode_16bit_uint()
5      AphB  uint16         A_SF  batata  data.decode_16bit_uint()
6      AphC  uint16         A_SF       4  data.decode_16bit_uint()
8   PPVphAB  uint16         V_SF       4  data.decode_16bit_uint()
9   PPVphBC  uint16         V_SF       6  data.decode_16bit_uint()
10  PPVphCA  uint16         V_SF       3  data.decode_16bit_uint()
11   PhVphA  uint16         V_SF  batata  data.decode_16bit_uint()
12   PhVphB  uint16         V_SF       4  data.decode_16bit_uint()
13   PhVphC  uint16         V_SF       6  data.decode_16bit_uint()
15        W   int16         W_SF       4   data.decode_16bit_int()
17       Hz  uint16        Hz_SF       4  data.decode_16bit_uint()
19       VA   int16        VA_SF       5   data.decode_16bit_int()
21      VAr   int16       VAr_SF       6   data.decode_16bit_int()
23       PF   int16        PF_SF       5   data.decode_16bit_int()
25       WH   acc32        WH_SF  batata   data.decode_32bit_int()
27      DCA  uint16       DCA_SF       2  data.decode_16bit_uint()
29      DCV  uint16       DCV_SF       4  data.decode_16bit_uint()
31      DCW   int16       DCW_SF       6   data.decode_16bit_int()
33   TmpCab   int16       Tmp_SF       9   data.decode_16bit_int()
34   TmpSnk   int16       Tmp_SF       5   data.decode_16bit_int()
35  TmpTrns   int16       Tmp_SF       8   data.decode_16bit_int()
36    TmpOt   int16       Tmp_SF       5   data.decode_16bit_int()

Preciso pensar em uma forma de pegar uma linha da tabela, e ver se ela é igual a outra, caso ela seja, eu pego o valor dessa linha e multiplico pela linha que tinha lido anteriormente.